html{
    color-scheme: dark;
}
:root {
    --gap-min: 0.1rem;
    --gap-mid: 0.25rem;
    --gap-max: 0.5rem;
    --radius-border: 1rem;
    --color-border: black;
}

.content-entries{
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    gap: var(--gap-mid);
    background-color: darkslateblue;
}



.entry {
    display: flex;
    margin-inline: var(--gap-mid);
    border: solid var(--color-border) var(--gap-min);
    height: 100px;
    text-align: center;
    background-color: steelblue;
    border-radius: var(--radius-border);
}

.entry > img {
    border-radius: 50%;
    border: solid white 0.1rem;
    margin: var(--gap-max)
}

.entry:hover{
    border: solid white var(--gap-min);
}

.entry-current{
    background-color: slategrey;
}

.entry:first-of-type{
    margin-top: var(--gap-max);
}
.entry:last-of-type{
    margin-bottom: var(--gap-max);
}

.content{
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    background-color: grey;
}

.content-info {
    display: grid;
    justify-content: center;
    align-items:center;

    width: calc(100% - (var(--gap-max) * 2));
    height: calc(100% - (var(--gap-max) * 2));
    margin: auto;
    border: solid var(--color-border) var(--gap-min);
    border-radius: var(--radius-border);
    /* background-color: green; */
}

.content-info-edit{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    width: 500px;
    justify-content: center;
    text-align: start;
}
.content-info-edit-wrapper{
    height: fit-content;
    width: fit-content;
    /* background-color: red; */
}